POSTGRES_PASSWORD=your_secure_password
RABBITMQ_DEFAULT_USER=api_user
RABBITMQ_DEFAULT_PASS=secure_password
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
JWT_SECRET=super_secret_jwt_key
